fastapi==0.115.12
uvicorn==0.34.1
httpx==0.28.1
groq==0.22.0
python-dotenv==1.1.0
pydantic==2.11.3
pydantic-settings==2.8.1
langgraph==0.2.62
langchain-core==0.3.35
langchain-groq==0.2.3
langchain-mistralai==0.2.6
langsmith>=0.1.0,<0.4.0
